<nav class="navbar navbar-expand-lg navbar-dark primary-color">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="/home"><img src="../../assets/images/YourPillars-Logo-PNG.png"></a>

    <!-- Collapse button -->
    <button class="navbar-toggler ml-auto hidden-sm-up float-xs-right" type="button" data-toggle="collapse" data-target="#basicExampleNav"
        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home">HOME
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about-us">ABOUT US</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact-us">CONTACT US</a>
            </li>

        </ul>
        <!-- Links -->

        <form class="form-inline">
            <div class="md-form my-0">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link primary-btn" href="/login">LOGIN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link border-btn" href="/signup">SIGNUP</a>
                    </li>
                </ul>
            </div>
        </form>
    </div>
    <!-- Collapsible content -->

</nav>