<ngb-carousel *ngIf="images" style="display: none;">
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="../../../assets/images/back.jpg" alt="Random first slide">
        </div>
        <div class="carousel-caption">
            <h3>Audit your circle</h3>
            <p>WHO YOU SURROUND YOURSELF WITH</p>
            <p>WITH ABSOLUTELY FUNDAMENTALLY</p>
            <p>CHANGES WHO YOU ARE</p>

        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="../../../assets/images/back.jpg" alt="Random second slide">
        </div>
        <div class="carousel-caption">
            <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="../../../assets/images/back.jpg" alt="Random third slide">
        </div>
        <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
    </ng-template>
</ngb-carousel>

<section id="hero" class="clearfix">
    <div class="container d-flex h-100">
        <div class="row justify-content-center align-self-center">
            <div class="col-md-8 col-sm-12 intro-info order-md-first order-last">
                <img src="../../../assets/images/quote.png" class="quoteimge">
                <h3> ABOUT YOUR CIRCLE</h3>
                <h2>WHO YOU SURROUND YOURSELF WITH ABSOLUTELY, FUNDAMENTALLY</h2>
                <h4>CHANGES WHO YOU ARE <img src="../../../assets/images/quote2.png" class="quoteimge"></h4>
            </div>

            <div class="col-md-4 col-sm-6 intro-img order-md-last order-first">
            </div>
        </div>
    </div>
</section>

<section id="second" class="clearfix">
    <div class="container">
        <div class="row justify-content-center align-self-center">
            <div class="col-md-12 col-sm-12 intro-info">
                <h5>1</h5>
                <p><span class="higlight-letter">T</span>he members of YourPillars.com look to better themselves, as
                    simple as that may sound. They want to embark on a quest that will transform their routine and
                    achieve greatness through steady and constant progress.
                    Our users seek a path for personal growth that will elevate their lives, help them achieve their
                    goals and make their dreams come true, one step at a time. They are looking for slight changes in
                    their every day lives that will progress them steadily towards their goal to become who they are
                    truly destined to be. YourPillars.com serves as a helper and a coach, to ensure you succeed in your
                    journey.
                </p>
            </div>

            <div class="col-md-6 col-sm-12" id="sec2">
                <img src="../../../assets/images/image1.jpg" class="imagesec" id="underimg">
                <img src="../../../assets/images/image2.jpg" class="imagesec" id="overimg">
            </div>

            <div class="col-md-6 col-sm-12" id="sec3">
                <h5>2</h5>
                <p><span class="higlight-letter">W</span>e are human, which means we are prone to get emotional, get
                    overwhelmed, lose sight of what’s truly important and, more often than we’d all like to admit, make
                    mistakes. We are all vulnerable to slip ups due to lack of motivation and distraction, getting
                    caught up in things we shouldn’t be stuck on to begin with.

                    Daily life and routines can get in the way and cloud our path. Often we find ourselves thinking too
                    hard and losing track of our growth, but that does not mean we are bad people, or that we aren’t
                    good enough; it could just mean that we don’t have the proper tools to stick to our goals and
                    develop healthy, growth oriented habits.
                </p>
            </div>

        </div>

    </div>
</section>

<section id="third" class="clearfix">
    <div class="container">
        <div class="row justify-content-center align-self-center">
            <div class="col-md-6 col-sm-12">
                <h5>3</h5>
                <h2>How YourPillers Can Help You</h2>
                <p>There are many different techniques you could use to find your greater self, and one great way to
                    achieve that is by using YourPillars.com as a sidekick and accompany you in all your great
                    adventures. We will coach and guide you towards achieving overall wellness through personal
                    exploration, self reflection and growth. Ensuring you understand how every aspect of your life needs
                    to be in balance in order to become a well rounded human and achieve ultimate happiness and success.
                    YourPillars.com will help you stay motivated and keep you accountable about your progress and how
                    far you’ve come!
                </p>

            </div>

            <div class="col-md-6 col-sm-12">
                <img src="../../../assets/images/images3.jpg">
            </div>

        </div>
    </div>
</section>

<section id="fourth" class="clearfix">
    <div class="container">
        <div class="row justify-content-center align-self-center">
            <div class="col-md-6 col-sm-12">
                <img src="../../../assets/images/images4.jpg">


            </div>

            <div class="col-md-6 col-sm-12">

                <h5>4</h5>
                <p><span class="higlight-letter">Y</span>ourPillars.com will not leave you alone, we will help you get through the hard times and teach you the best ways to go avoid those bumps in the road and climb out of every hole you fall into. We will be your trusty assistant and we will check up on you, remain by your side, make sure that you are achieving your goals and finally turn all your dreams into a reality. 
                </p>
            </div>

        </div>
    </div>
</section>

<section id="fifth" class="clearfix">
    <div class="container">
        <div class="row justify-content-center align-self-center">
            <div class="col-md-4 col-sm-12">
                <div class="compcard">
                    <p><strong>1. Sign up and Get Started!</strong></p>
                    <p>It has to start somewhere, and what better time than now? Become a member of YourPillars.com and get ready to embark on the best journey of your life...</p>
                    <a href="">Read More</a>
                </div>

            </div>

            <div class="col-md-4 col-sm-12">
                <div class="compcard">
                    <p><strong>2. Identify your Path</strong></p>
                    <p>Sit back and relax. Reflect on what areas of your life need immediate attention. Choose an initial set of our activities and begin taking back control of your life!...</p>
                    <a href="">Read More</a>
                </div>

            </div>

            <div class="col-md-4 col-sm-12">
                <div class="compcard">
                    <p><strong>3. Keep Learning, Keep Growing</strong></p>
                    <p>Just finished an activity? Keep going! There are still many things to learn. Each and every single action you take will help you achieve your goals and make your dreams come true...</p>
                    <a href="">Read More</a>

                </div>

            </div>
        </div>
    </div>
</section>

<section id="sixth" class="clearfix">
    <div class="container">
        <div class="row justify-content-center align-self-center">
            
            <div class="col-md-12 col-sm-12">

                <h5>6</h5>
                <p><span class="higlight-letter">Y</span>ourPillars.com will not leave you alone, we will help you get through the hard times and teach you the best ways to go avoid those bumps in the road and climb out of every hole you fall into. We will be your trusty assistant and we will check up on you, remain by your side, make sure that you are achieving your goals and finally turn all your dreams into a reality. 
                </p>
            </div>

        </div>
    </div>
</section>

<section id="seventh" class="clearfix">
    <div class="container">
        <div class="row justify-content-center align-self-center">
            <div class="col-md-6 col-sm-12">
                <img src="../../../assets/images/image5.jpg">


            </div>

            <div class="col-md-6 col-sm-12">

                <h5>7</h5>
                <p><span class="higlight-letter">I</span>f you’re looking for a quick fix to an ingrained problem, you are sadly bound to fail.  YourPillars.com is here to ensure you learn and find the proper ways to practice better living so you can achieve your goals.  Personal growth requires an open heart and an open mind, as well as hard work and cohesion; and YourPillars.com will be 100% committed to you every step of the way and will make sure you stay focused and on the right path towards a better you. No other helper out there will stay with you through every phase of your personal progress and keep you accountable for it like YourPillars.com will. </p>
            </div>

        </div>
    </div>
</section>