.container{
    max-width:90%;
}

#hero{
    background-image: url('../../../assets/images/background.jpg') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero .imagesection{
    
    background-image: url('../../../assets/images/profile.jpg') ;
    padding: 250px 20px;
    margin: 50px 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.brand-logo img{
    height: 50px;
  }
