<section id="hero" class="clearfix">
    <div class="container d-flex h-100">
        <div class="row justify-content-center align-self-center">
            <div class="col-md-6 col-sm-12 imagesection">
               
            </div>

            <div class="col-md-6 col-sm-12 center">
                <a class="brand-logo" href="/home"><img src="../../assets/images/YourPillars-Logo-PNG.png"></a>
                
                <form [formGroup]="user" class="example-form">
                
                <mat-form-field  class="example-full-width">
                    <label>First Name: </label>
                    <input formControlName="firstname" matInput placeholder="First Name" [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }">
                    <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
                    <div *ngIf="f.firstname.errors.required">First Name is required</div>
                    </div>
                </mat-form-field>
        
                <mat-form-field class="example-full-width">
                    <label>Last Name: </label>
                    <input formControlName="lastname" matInput placeholder="Last Name" [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }">
                    <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                    <div *ngIf="f.lastname.errors.required">Last Name is required</div>
                    </div>
                </mat-form-field>
        
                <mat-form-field class="example-full-width">
                    <label>Gender: </label>
                    <mat-select formControlName="gender">
                        <mat-option value="Male">Male</mat-option>
                        <mat-option value="Female">Female</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <label>Birth Date</label>
                    <input matInput [matDatepicker]="picker" formControlName="dob">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <button mat-stroked-button class="btn-block">Register</button><br>
                <p>Already have an Ep account? <a href="/login">Login</a></p>

            </form>
            </div>
        </div>
    </div>
</section>